@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 720px;
    position: relative;
}

header {
    display: flex;
    background-color: #343434;
    color: white;
    padding: 37px 71px;
    height: 100px;
}

nav ul a, li{
    color: white;
    font-weight: 700;
    font-size: 28px;
    list-style: none;
    text-decoration: none;
    margin-right: -75px;
}

#logo-rethink {
    margin: 0px auto;
}

main {
    color: #242D35;
    padding: 0px 71px;
}

#section-title {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-title h1{
    font-weight: 700;
    font-size: 36px;
}

#button-go-back {
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid 1px #EAECEE;
    border-radius: 32px;
    padding: 8px 10px;
}

#button-go-back p, a {
    color: #0C1116;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

#button-go-back img {
    width: 12px;
    height: 12px;
}

#overview-container {
    display: flex;
    align-items: center;
    margin: 30px 0px 20px;
    gap: 9px;
}

#overview-container h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    margin-right: 20px;
}

#overview-container p {
    color: #F2F2F2;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 25px;
}

#javascript {
    background-color: #F1E05A;
}
#html {
    background-color: #E34C26;
}
#css {
    background-color: #563D7C;
}
#typescript {
    background-color: #2B7489;
}
#json {
    background-color: #292929;
}

article {
    color: #373F47;
    margin-top: 30px;
}

article p {
    color: #373F47;
    font-weight: 400;
    font-size: 16px;
    line-height:175% ;
}

article p#subtitle {
    margin-bottom: 20px;
}

#stats-container {
    display: flex;
    margin-top: 40px;
    background: #F3F3F3;
    gap: 25px;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.178);
}

section#stats-container img.size-1{  
    width: 13.5px;
    height: 16px;
}

section#stats-container img.size-2{  
    width: 18px;
    height: 18px;
}
.stats-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 10px 14px; 
    border-radius: 10px;
    background-color: white;
}

.stats-content .name {
    font-weight: 500;
    font-size: 14px;
}
.stats-content .number {
    font-weight: 400;
    font-size: 16px;
}

.stats-content .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#page-container {
    display: flex;
    gap: 275px;
}

#page-container section {
    flex: 3;
}

#page-container aside {
    flex: 1;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: solid 1px #EAECEE;
    border-radius: 10px;
    padding: 25px 0px;
    height: 332px;
    margin-top: 64px;
}

aside h4 {
    color: #242D35;
    font-weight: 600;
    font-size: 14px;
}

aside p {
    color: #4F5B67;
    font-weight: 300;
    font-size: 12px;
}

#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: -5px;
}

#profile-stats {
    display: flex;
    gap: 30px;
}

#profile-stats .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#profile-stats .stats .name {
    color: #A8B0B9;
    font-weight: 300;
    font-size: 12px;
}
#profile-stats .stats .number {
    color: #373F47;
    font-weight: 300;
    font-size: 14px;
}

#button-view-profile p {
    color: #0C1116;
    font-weight: 300;
    font-size: 14px;
}

#button-view-profile {
    border: solid 1px #EAECEE;
    border-radius: 32px;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    color:white;
    width: 100vw;
    background: #343434;
    height: 13px;
}